<!-- ## Introduction [`amp-gist`]({{g.doc('/content/amp-dev/documentation/components/reference/amp-gist.md', locale=doc.locale).url.path}})
  amp-gistコンポーネントを使用すると、要旨全体または単一のファイルを埋め込むことができます。高さ固定レイアウトは、サポートされている唯一のレイアウトで、高さ属性が必要です。
  あなたは要点の実際の高さを提供しなければならない、そしてあなたは開発者ツール（例えばChrome Dev Tools）で要素を調べることによって要点ページでこれを見つけることができる。要旨を作成するには、GitHub要旨にアクセスしてください。
-->
<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>amp-gist</title>
  <link rel="canonical" href="https://amp.dev/documentation/examples/components/amp-gist/index.html">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <!-- ## Setup(amp-gistの追加) -->
  <script async custom-element="amp-gist" src="https://cdn.ampproject.org/v0/amp-gist-0.1.js"></script>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style amp-custom>
  amp-gist {
    margin: 1rem;
  }
</style>

</head>
<body>

  <!-- ## Basic usage -->
  <!-- Embed an entire gist. -->
  <amp-gist
    data-gistid="b9bb35bc68df68259af94430f012425f"
    layout="fixed-height"
    height="241">
  </amp-gist>

  <!-- ## Selecing a specific file -->
  <!-- Embed one file out of a gist using the `data-file` attribute. The `data-file` attribute is optional. -->
  <amp-gist
    data-gistid="a19e811dcd7df10c4da0931641538497"
    data-file="hi.c"
    layout="fixed-height"
    height="197">
  </amp-gist>

</body>
</html>