<!--
  ## Introduction
  iframeを介してAMPファイルにコンテンツを埋め込むには、amp-iframeを使用します。そうでなければ（まだ）AMPによってサポートされていないコンテンツを表示するのに役立ちます。
  [amp-iframe]({{g.doc('/content/amp-dev/documentation/components/reference/amp-iframe.md', locale=doc.locale).url.path}}) 
-->
<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>amp-iframe</title>
  <!-- SETUP -->
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>

  <link rel="canonical" href="https://amp.dev/documentation/examples/components/amp-iframe/index.html">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>
#sample-resizable-iframe div[overflow] {
  text-align: center;
  background: #f9f7f7;
  line-height: 36px;
}
  </style>
</head>
<body>

  <!-- ## First viewport (iframeは、一番上から600 px離れているか、一番上にスクロールしたときにビューポートの最初の75％以内にないかのどちらか小さい方にする必要があります。 この例は、画面の幅によっては機能しない場合があります。 その場合、それはローディングインジケータだけを表示します。) -->
  <amp-iframe
    width="500"
    height="281"
    title="Netflix House of Cards branding: The Stack"
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-popups"
    allowfullscreen
    frameborder="0"
    src="https://player.vimeo.com/video/140261016">
  </amp-iframe>

  <!-- ## Placeholder(プレースホルダ画像を追加することで、上の制約から600ピクセル離れた場所を避けることができます。) -->
  <amp-iframe
    width="500"
    height="281"
    title="Netflix House of Cards branding: The Stack"
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-popups"
    allowfullscreen
    frameborder="0"
    src="https://player.vimeo.com/video/140261016">
    <amp-img layout="fill" src="https://i.vimeocdn.com/video/536538454_640.webp" placeholder></amp-img>
  </amp-iframe>

  <!-- ## Giphy(これはGiphyのアニメーションGIFを埋め込んだiframeサンプルです。) -->
  <amp-iframe
    width="600"
    height="400"
    title="Animated dancing GIF from Giphy"
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-popups"
    frameborder="0"
    src="https://giphy.com/embed/DKG1OhBUmxL4Q">
  </amp-iframe>

  <!-- ## Google Maps(Googleマップの埋め込みは、Googleマップの埋め込みAPIを介して可能であり、APIキーが必要です。あなたのAPIキーがampproject.orgドメインからのリクエストを許可することを確認してください。) -->
  <!--
    [Google Maps Embed API](https://developers.google.com/maps/documentation/embed/guide)
    [API Key](https://developers.google.com/maps/documentation/embed/guide#api_key)
  -->
  <amp-iframe
    width="600"
    height="400"
    title="Google map pin on Googleplex, Mountain View CA"
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-popups"
    frameborder="0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2eUgeAK6j4ARbn5u_wAGqWA&key=AIzaSyAyAS599A2GGPKTmtNr9CptD61LE4gN6oQ">
  </amp-iframe>

  <!-- ## Resizable iframe -->
  <!--
    amp-iframeの重要な機能の1つは、実行時にiframeのサイズを変更できることです。
  <ul>
    <li>`amp-iframe`は` allow-same-origin`サンドボックス属性を設定しなければなりません。</li>
    <li>`amp-iframe`は` resizable`属性で定義されなければなりません。</li>
    <li>`amp-iframe`は` overflow`子要素を持たなければなりません。</li>
    <li>iframeドキュメントは `embed-size`リクエストを送信しなければなりません：</li>
  </ul>

    ```js
    window.parent.postMessage({
      sentinel: 'amp',
      type: 'embed-size',
      height: document.body.scrollHeight
    }, '*');
    ```

    The following example demonstrates two resizing use cases:

    1. ロード時にサイズ変更：iframeのサイズは、最初にamp-iframeレイアウトを介して150x150ピクセルに設定されます。ページがロードされると、埋め込まれたiframeはそれ自身を200x200pxにサイズ変更します。
    2. ユーザーの操作に合わせてサイズ変更する：ボタンを押すと、iframeのサイズが300 x 300 pxに変更されます。

  -->
  <amp-iframe
    id="sample-resizable-iframe"
    title="Resizable iframe example from 200x200 to 300x300 "
    width="150"
    height="150"
    sandbox="allow-scripts allow-same-origin"
    resizable
    frameborder="0"
    src="/static/samples/files/resizable-iframe.html">
    <div overflow tabindex="0" role="button" aria-label="Show more">Click to show more</div>
  </amp-iframe>

  <!-- ## Dynamically changing the iframe src(amp-bindを使用すると、amp-iframeを埋め込んだiframeのsrcを変更できます。) -->
  <div>
    <amp-iframe
      id="amp-iframe"
      title="Cute dog video"
      width="500"
      height="281"
      layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-popups"
      allowfullscreen
      frameborder="0"
      src="https://player.vimeo.com/video/183849543"
      [src]="myIframeUrl">
    </amp-iframe>
    <button on="tap:AMP.setState({ myIframeUrl: 'https://player.vimeo.com/video/185199565' })">Change src</button>
  </div>
</body>
</html>